* {
  box-sizing: border-box;
}

body{
    margin: 0;
}


/* Login Page */

@keyframes slideUp{
  from{
    transform: translateY(100vh)
    opacity: 0
  }
  to{
    transform: translateY(0);
    opacity: 1
  }
}
#login-background{
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(circle at 50% 200%, rgb(94, 94, 126), transparent); /* black with 60% opacity */
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  font-family: "Playfair Display";
  font-size: 50px;
  align-items: center;
}

.login-page-headers{
  animation: slideUp 0.6s ease-out;
}



/* Login Page End */


#background {
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(circle at 50% 200%, rgb(94, 94, 126), transparent); /* black with 60% opacity */
  color: white;
  /* border: 2px solid red; */
  background-color: black;
  display: flex;
}




/* PNG Editing */
#home-png{
    border: none;
    width: 3.75rem;
    height: 3.75rem;
}

#music-note{
  width: 3.75rem;
  height: 4.375rem;
  padding-right:5px;
}

#navbarUL > a{
  cursor: pointer;
}
/* 
#navbarUL > a:hover{
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.6);
} */

#folder{
  width: 3.75rem;
  height: 4.375rem;
}

.nav-icon{
  transition: filter 0.2s ease-in-out;
  border-radius: 0.625rem;
  justify-content: center;
}

.nav-icon:hover {
  transition: box-shadow 0.5s ease-in-out;
  box-shadow: 0 0 5px rgb(0, 0, 0); /* Makes it glow brighter */
}

.nav-a{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.75rem;
}

/* End PNG Editing */



/* Nav-Bar Editing */

#navbarUL{
  /* border: 2px solid greenyellow; */
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

#profile-button{
  background: none;
  border: none;
  cursor: pointer;
}

#profile{
  height: 3.75rem;
  height: 4.375rem;
}



#nav-bar-container{
  display: flex;
  flex-direction: column;
  /* border: solid 2px greenyellow; */
  height: 100vh;
  width: fit-content;
  justify-content: center;
  padding: 1.25rem;
  background-color: rgb(114, 114, 114);
  background: transparent;
  backdrop-filter: blur(40px);
  box-shadow: 0 0 10px rgb(72, 72, 72);
  background-image: radial-gradient(circle at 50% 50%, rgb(94, 94, 126), transparent); /* black with 60% opacity */

}


/* End NavBar Editing */


/* Body Editing */

#body-container{
  width: 100%;
  /* height: 100%;
  border: 2px solid red; */
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(13, 1fr);
}


/* End Body Editing */


/* Audio Editing */

@keyframes slideUp{
  from{
    transform: translateY(100%);
    opacity: 0
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}

.mp3-image{
  width: 100%;
  height: 75%;
  border-radius: 1.25rem;
  animation: slideUp 1s ease-out forwards
}



#mp3-container1{
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-column: 2 / 5;
  grid-row: 5 / 13;
  width: 100%;
  height: 100%;
  background-color: black;
  color: black;
  border-radius: 1.25rem;
  background-image: 
    radial-gradient(circle at 50% 200%, rgb(94, 94, 126), transparent);
  color: white;
  padding: 0.625rem;
  border: 0.0625rem solid rgb(55, 55, 55);
  animation: slideUp 1s ease-out forwards
}

#mp3-photo-1{
  width: 350px;;
  border-radius: 1.25rem;
  display: flex;
  margin-top: 1.25rem;
  justify-content: center;
  align-items: center;
  height: 474.771px;
  /* border: 0.1875rem solid rgb(62, 62, 62); */

}

#audio-controls{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1.2rem;
}

#audio-controls > img:hover{
  cursor: pointer
}

#play-button{
  width: 6.25rem;
  height: 6.25rem;
}

#shuffle-button{
  width: 2.5rem;
  height: 2.5rem;
}

#skip-forward{
  width: 3.75rem;
  height: 5rem;
}

#go-back{
  width: 3.75rem;
  height: 5rem;
}

#restart-button{
  width: 3.75rem;
  height: 3.75rem;
}

/* End Audio Editing */



/* Figdets */

@keyframes slideFromTop{
  from{
    transform: translateY(-100%);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}

.fidgets{
  border-radius: 20px;
  width: 304.604px;
  height: 285.23px;
}

.fidget-image{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

#fidget1{
  /* border: 2px solid white; */
  grid-column: 2 / 4;
  grid-row: 1 / 4;
  margin-top: 20px;
  animation: slideFromTop 1s ease-out forwards

}

#fidget2{
  /* border: 2px solid white; */
  grid-column: 5 / 7;
  grid-row: 1 / 4;
  margin-top: 20px;
  animation: slideFromTop 1.4s ease-out forwards

}

#fidget3{
  /* border: 2px solid white; */
  grid-column: 8 / 10;
  grid-row: 1 / 4;
  margin-top: 20px;
  animation: slideFromTop 1.8s ease-out forwards

}

#fidget4{
  /* border: 2px solid white; */
  grid-column: 11 / 13;
  grid-row: 1 / 4;
  margin-top: 20px;
  animation: slideFromTop 2.2s ease-out forwards

}






/* End Fidgets */


/* Chat Bot */
#chat-bot{
  border: 2px solid white;
  grid-column: 6 / 13;
  grid-row: 5 / 13;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#recommendation-image{
  border-radius: 100px;
}


/* End Chat Bot */

